.App {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 25px;
}

.text-pinked {
  color: #CB4889;
}

.text-pinked:hover {
  color: #CB4889;
}

.max-divider {
  width: 100%;
  border: #CB4889 solid 1px;
  opacity: 0.6;
  margin-top: 25px;
  margin-bottom: 25px;
}